/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
    padding: 40px 15px;
}

/* HEADER */
.header {
    text-align: center;
    margin-bottom: 40px;
}

.header img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid #38bdf8;
}

.header h1 {
    font-size: 36px;
}

.header p {
    color: #94a3b8;
    margin-top: 5px;
}

/* CONTAINER */
.container {
    max-width: 900px;
    margin: auto;
    background-color: #020617;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

/* SECTIONS */
section {
    margin-bottom: 40px;
}

h2 {
    font-size: 26px;
    color: #38bdf8;
    margin-bottom: 15px;
}

/* TEXTO */
p {
    margin-bottom: 10px;
}

/* LISTAS */
ul {
    list-style: none;
}

ul li {
    background-color: #020617;
    border: 1px solid #1e293b;
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom:
